<body>
    <!-- Page Content -->
    <div class="container">
        <app-header></app-header>

        <app-menu></app-menu>

        <!-- Content Row -->
        <div class="row ">
            <div class="col-md-10">
                <app-rated-tab></app-rated-tab>
            </div>
            <div class="col-md-2 ">
                <app-highest-rated></app-highest-rated>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </div>
    <!-- /.container -->
</body>