<div class="table-responsive">
    <table class="table table-bordered">
        <thead style="background-color: #e9a998;">
            <tr>
                <th>Profile picture</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Friendship</th>
            </tr>
        </thead>
        <tbody style="background-color: #ebc1b7;">
            <tr>
                <td><img src="../../../../assets/images/oval.jpg" class="profile"></td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td><button class="btn btn-info" type="button">Add friend</button></td>
            </tr>
            <tr>
                <td><img src="../../../../assets/images/oval.jpg" class="profile"></td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td><button class="btn btn-info" type="button" disabled>Already friends</button></td>
            </tr>
        </tbody>
    </table>
</div>