<!DOCTYPE html>

<html>
<style>
	body {
		background-color: #FFCDC0;
	}
</style>

<body>
	<script>
		$(document)
			.ready(function () {
				$('.ui.rating')
					.rating();
			});
	</script>

	<!--PAGE HEADER WITH SEARCHBAR-->
	<div class="ui  grid">
		<div class="left floated ten wide column">
			<h1 class="ui huge header">
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/811325-200.png" class="ui circular image">
				<div class="content">
					Shooting Star
				</div>
			</h1>
		</div>
		<h2 class="ui small header">
			<div class="ui search">
				<div class="ui icon input">
					<input class="prompt" type="text" placeholder="Find stories...">
					<i class="search icon"></i>
				</div>
				<div class="results"></div>
			</div>
		</h2>
	</div>
	<hr>

	<div class="ui grid">
		<!--STORIES FEED-->
		<div class="ui feed">
			<h1 class="ui huge header">Top stories from this week</h1>

			<div class="event">
				<div class="label">
					<img src="https://pbs.twimg.com/profile_images/782474226020200448/zDo-gAo0_400x400.jpg">
				</div>
				<div class="content">
					<div class="summary">
						<a class="user">
							Elon Musk
						</a> updated his status
						<div class="date">
							2 Days Ago
						</div>
					</div>
					<div class="meta">
						<a class="like">
							<i class="like icon"></i> 8850 Likes
						</a>
					</div>
				</div>
			</div>

			<div class="event">
				<div class="label">
					<img src="https://pbs.twimg.com/profile_images/74188698/NeilTysonOriginsA-Crop_400x400.jpg">
				</div>
				<div class="content">
					<div class="summary">
						<a>Neil deGrasse Tyson</a> added
						<a>2 new illustrations</a>
						<div class="date">
							3 Days ago
						</div>
					</div>
					<div class="extra images">
						<a>
							<img class="ui medium rounded image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/M101_hires_STScI-PRC2006-10a.jpg/1280px-M101_hires_STScI-PRC2006-10a.jpg">
						</a>
						<a>
							<img class="ui medium rounded image" src="https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-36.jpg">
						</a>
					</div>
					<div class="meta">
						<div class="ui heart rating" data-rating="1" data-max-rating="3"></div>
					</div>
				</div>
			</div>

			<div class="event">
				<div class="label">
					<img src="https://www.famousbirthdays.com/headshots/michael-stevens-2.jpg">
				</div>
				<div class="content">
					<div class="summary">
						<a class="user">
							Michael Stevens
						</a> joined the community
						<div class="date">
							4 Days Ago
						</div>
					</div>
					<div class="meta">
						<a class="like">
							<i class="like icon"></i> 4592 Likes
						</a>
					</div>
				</div>
			</div>

			<div class="event">
				<div class="label">
					<img src="https://scontent.fotp3-2.fna.fbcdn.net/v/t1.0-9/19511617_1594404643927697_8423261814166691536_n.jpg?oh=5e245af8bb8cfbf7e84db2214ef2efa2&oe=5AFE8CEF">
				</div>
				<div class="content">
					<div class="summary">
						<a>Gothard Eduard</a> posted on his page
						<div class="date">
							5 Days ago
						</div>
					</div>
					<div class="extra text">
						The ting goes skrrrahh (ah) Pap, pap, ka-ka-ka (ka) Skidiki-pap-pap (pap) And a pu-pu-pudrrrr-boom (boom) Skya (ah), du-du-ku-ku-dun-dun
						(dun) Poom, poom, you don' know
					</div>
					<div class="meta">
						<a class="like">
							<i class="like icon"></i> 9512 Likes
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="ui container">
			<!--MAIN HEADERS-->
			<div class="ui grid">
				<div class="row">
					<h1 class="ui large header">Join today and watch thousands of stories from all around the world.</h1>
					<h2 class="ui medium header">You can become as popular as your dream celebrities.</h2>
				</div>


				<!--LOGIN FORM-->
				<div class="row form">
					<div class="ui four wide column">
						<div class="ui ribbon label pink">

							<div class="ui form">
								<div class="field">
									<label>Username</label>
									<div class="ui small left icon input">
										<input #loginUsername type="text" placeholder="Username">
										<i class="user icon"></i>
									</div>
								</div>
								<div class="field">
									<label>Password</label>
									<div class="ui small left icon input">
										<input #loginPassword type="password">
										<i class="lock icon"></i>
									</div>
								</div>
							</div>
							<br>

							<p-dialog header="Login!" [(visible)]="loginDialog">
									Te-ai logat!
							</p-dialog>

							<div (click)="loginUser(loginUsername.value, loginPassword.value)" class="ui right labeled icon blue submit button">
								<i class="right arrow icon"></i>
								Login
							</div>
						</div>
					</div>

					<!--REGISTER FORM-->
					<div class="column">
						<div class="ui ribbon label pink">
							<h4 class="ui large header">A fresh star? Register here!</h4>
							<div class="ui form">
								<div class="field">
									<label>Username</label>
									<div class="ui small left icon input">
										<input type="text" placeholder="Username" #registerUsername>
										<i class="user icon"></i>
									</div>
								</div>
								<div class="field">
									<label>Password</label>
									<div class="ui small left icon input">
										<input type="password" #registerPassword>
										<i class="lock icon"></i>
									</div>
								</div>
								<div class="field">
									<label>E-Mail</label>
									<div class="ui small left icon input">
										<input type="text" placeholder="E-Mail" #registerEmail>
										<i class="mail icon"></i>
									</div>
								</div>
								<div class="field">
									<label>Name</label>
									<div class="ui small left icon input">
										<input type="text" placeholder="Name" #registerName>
										<i class="user icon"></i>
									</div>
								</div>
								<div class="field">
									<label>Surname</label>
									<div class="ui small left icon input">
										<input type="text" placeholder="Surname" #registerSurname>
										<i class="user icon"></i>
									</div>
								</div>
							</div>
							<br>
							<div class="ui right labeled icon blue button" (click)="registerUser(registerUsername.value,registerPassword.value, registerEmail.value, registerName.value, registerSurname.value)">
								<i class="signup icon"></i>
								Register
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
</body>

</html>