<div class="image-table">
    <div *ngFor="let img of imagesArray; let i = index" style="display: inline;">
        <img *ngIf="img.thumb" class="list-img" src="{{img.thumb}}" (click)="openImageModal(img)" alt='{{img.description}}' />
        <img *ngIf="!img.thumb" class="list-img" src="{{img.img}}" (click)="openImageModal(img)" alt='{{img.description}}' />
    </div>
</div>
<div *ngIf="openModalWindow">
    <modal-gallery [modalImages]="imagesArray" [imagePointer]="imagePointer" (close)="onCloseImageModal($event)"></modal-gallery>
</div>