<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="login-input">
            <input id="login_username" class="form-control" type="text" placeholder="Username" required>
        </div>
        <div class="login-input">
            <input id="login_password" class="form-control" type="password" placeholder="Password" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="c('Close click')">Login</button>
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<button class="btn btn-outline-warning btn-lg" (click)="open(content) ">Login</button>