<div class="row">
    <div class="col-md-8 ">
        <!-- Latest image, you can add here a Snapwidget to put your actual instagram feed -->
        <img src="../../../../assets/images/capuccino.jpg " width="100% ">

        <!--Content, you could put this as a CV sort of thing -->
        <h3><a>Ready for the Gala Tonight!</a></h3>
        <h6>3 min. ago - 56 People rated this 5 stars</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>

        <h3><a>Thank you for your wishes</a></h3>
        <h6>3 min. ago - 56 People rated this 5 stars</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>

        <h3><a>Remembering Cabo</a></h3>
        <h6>3 min. ago - 56 People rated this 5 stars</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
    </div>

    <div class="col-md-4 ">
        <h4><a>Recent Comments(6)</a></h4>
        <p>★<i class="fa fa-star " aria-hidden="true "> 23 people liked your picture</i></p>
        <h5><a>Sara Blestow</a></h5>
        <p>★★★★★</p>
        <p>Omgggg! So beautiful! I can't believe you still have it!</p>
        <br>
        <h5><a>Jackie Holmes</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Roman Benitez</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Balvin Jay</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>

        <!-- Right column -->
    </div>
</div>