<div class="row">
    <div class="col-md-12 ">
        <div class="form-group">
            <h5>How do you feel today?</h5>
            <textarea #textArea class="form-control" id="exampleFormControlTextarea1" rows="3" style="background: #f4e9e9" maxlength="255"></textarea>
        </div>
        <div class="feelings">
            <input type="file" accept="image/*" (change)="changeListener($event)" id="file-1">
            <label class="btn btn-info" for="file-1">Express your feelings with an image</label>
            <button class="btn btn-info" type="button" (click)="uploadStatus(textArea.value)">Upload your thoughts</button>
        </div>
        <hr>
    </div>
    <div class="col-md-12">
        <!-- Latest image, you can add here a Snapwidget to put your actual instagram feed -->
        <img src="../../../../assets/images/capuccino.jpg " width="100% ">

        <!--Content, you could put this as a CV sort of thing -->
        <ul>
            <li *ngFor="let s of statuses let i = index">
                <h3>
                    <a>{{s.user.name}} {{s.user.surname}}</a>
                </h3>
                <h4>{{s.rating}} ♥</h4>
                <p>{{s.status}}</p>
            </li>
        </ul>

    </div>
</div>