<div class="row">
    <div class="col-md-8 ">
        <!-- Latest image, you can add here a Snapwidget to put your actual instagram feed -->
        <img src="../../../../assets/images/capuccino.jpg " width="100% ">

        <!--Content, you could put this as a CV sort of thing -->
        <ul>
            <li *ngFor="let s of statuses let i = index">
                <h3>
                    <a>{{s.user.name}} {{s.user.surname}}</a>
                </h3>
                <h6>{{s.rating}}</h6>
                <p>{{s.status}}</p>
            </li>
        </ul>

    </div>

    <div class="col-md-4 ">
        <h4><a>Recent Comments(6)</a></h4>
        <p>★<i class="fa fa-star " aria-hidden="true "> 23 people liked your picture</i></p>
        <h5><a>Sara Blestow</a></h5>
        <p>★★★★★</p>
        <p>Omgggg! So beautiful! I can't believe you still have it!</p>
        <br>
        <h5><a>Jackie Holmes</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Roman Benitez</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Balvin Jay</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>
        <br>
        <h5><a>Jackie Curtis</a></h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. " ★★★★★</p>

        <!-- Right column -->
    </div>
</div>