<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="login-input">
            <input #registerUsername id="register_username" class="form-control" type="text" placeholder="Username" required>
        </div>
        <div class="login-input">
            <input #registerMail id="register_mail" class="form-control" type="text" placeholder="Mail" required>
        </div>
        <div class="login-input">
            <input #registerPassword id="register_password" class="form-control" type="password" placeholder="Password" required>
        </div>
        <div class="login-input">
            <input #registerName id="register_name" class="form-control" type="text" placeholder="Name" required>
        </div>
        <div class="login-input">
            <input #registerSurname id="register_surname" class="form-control" type="text" placeholder="Surname" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="register(registerUsername.value, registerPassword.value, registerMail.value, registerName.value, registerSurname.value)">Join</button>
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<button class="btn btn-outline-warning btn-lg" (click)="open(content) ">Join now</button>