<ul>
    <li>
        <div class="vertical-list">
            <h5>About</h5>
            <span>Nosedive.family™</span>
            <span>The ultimate social network</span>
            <span>Rate everything and win rewards</span>
        </div>
    </li>
    <li>
        <div class="vertical-list">
            <h5>Policy</h5>
            <span>© 2018 Nosedive.family™</span>
            <span>All Rights Reserved</span>
            <span>Privacy Policy</span>
        </div>
    </li>
    <li>
        <div class="vertical-list">
            <h5>Founders</h5>
            <span>Radu Motrescu</span>
            <span>Gothard Eduard</span>
            <span>Marius Demeter</span>
        </div>
    </li>
    <li>
        <div class="vertical-list">
            <h5>Follow us</h5>
            <span><i class="fa fa-facebook"></i></span>
            <span><i class="fa fa-instagram"></i></span>
            <span><i class="fa fa-twitter"></i></span>
        </div>
    </li>
</ul>